/** @format */

body {
  display: flex;
  justify-content: center;
  /* height: 40vh; */
  align-items: center;
  margin: 0;
  font-family: Nunito;
}

.todo {
  background-color: purple;
  width: 350px;
  height: auto;
  font-size: 20px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.input {
  display: block;
  width: 100%;
  /* margin-top: 20px; */
  height: auto;
  padding: 6px;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: 800;
  font-family: Nunito;
  background-color: #b47eb3;
}

.input:focus {
  outline: none;
}

.button {
  border: 0;
  width: 70px;
  height: auto;
  padding: 6px;
  font-size: 20px;
  margin-left: 35px;
  color: white;
  background-color: purple;
  border-radius: 3px;
  cursor: pointer;
}

form {
  background-color: #b47eb3;
  border-radius: 8px;
  padding: 10px;
  width: 350px;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputContainer {
  display: flex;
}

.Todolist {
  width: 350px;
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  color: purple;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Todoitem {
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
}

.item {
  width: 350px;
  font-size: 25px;
  margin: 0 auto;
}

hr {
  border: 1px thin #b47eb3;
}

.delete {
  float: right;
  padding: 10px;
  background-color: #b47eb3;
  color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
}

.completed {
  text-decoration: line-through;
}

.Todo {
  background-color: #b47eb3;
  padding: 10px;
  border-radius: 4px;
  color: white;
  width: 350px;
  margin-top: 30px;
}

.totalTodo {
  float: right;
}

@media only screen and (max-width: 600px) {
  .todo,
  .input,
  .Todolist,
  .Todo,
  form,
  .item {
    width: 280px;
  }

  .button {
    margin-left: 0;
    font-size: 15px;
  }

  .todo {
    margin-top: 100px;
  }

  .Todoitem {
    font-weight: lighter;
    font-size: 15px;
  }

  .delete {
    margin-top: -5px;
  }
}
